<section class="articles">
    <h2>Probadita mexicana</h2>
    <article class="aside">
      <h3>Comiendo langosta en bacalar</h3>
      <img src="img/6.png" alt="6">
    </article>

    <article class="aside">
      <h3>Mar, tierra, vino. Los Cabos.</h3>
      <img src="img/7.png" alt="6">
    </article>

    <article class="aside">
      <h3>Enloquece en la feria de San Marcos</h3>
      <img src="img/8.png" alt="6">
    </article>

    <article class="aside">
      <h3>¿Vino y desierto? Visitamos Parras.</h3>
      <img src="img/9.png" alt="6">
    </article>
</section>
