</main>
<footer>
  <div class="container">
    <div class="footer-logo">
      <img src="img/logo-white.png" alt="logo">
    </div>



      <div class="contacto">

        <ul>
          <li>Melp, México</li>
          <li>123 Main Street</li>
          <li>Toluca de Lerdo, Estado de México</li>
          <li>contacto@melp.com</li>
        </ul>
      </div>

      <div class="redes">
        <h5>Síguenos</h5>
        <ul class="soc">
            <li><a class="soc-twitter" href="#"></a></li>
            <li><a class="soc-facebook" href="#"></a></li>
            <li><a class="soc-instagram" href="#"></a></li>
            <li><a class="soc-medium soc-icon-last" href="#"></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">

    </div>
  </div>

</footer>
</body>
</html>
