<nav>

      <div class="nav-intro">
        <img src="<%= url('/img/logo.png') %>" alt="logo">
        <h1 class="gray-text">El tour culinario curado</h1>
      </div>

      <form action="/search" method="post">
        <input type="text" name="query" placeholder="¿en qué estado estás?">
        <input type="submit" value="Llévame">
      </form>

</nav>
